<footer>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Simple open source link shortener</h5>
                    <p class="grey-text text-lighten-4">
                        This is <a href="http://nilpointer.software">@NilPointer software</a> offsite project to test
                        Rust capabilities for production
                        usage.<br />
                        Backend: <a href="https://rocket.rs">Rocket.rs</a> on <a href="https://www.rust-lang.org">rustc</a> 1.48.0-nightly + <a href="https://diesel.rs">Diesel.rs</a> <br />
                        Frontend: <a href="https://materializecss.com">Materialize CSS</a> generated with <a href="https://handlebarsjs.com">handlebar</a> templates
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://nilpointer.software">NilPointer Software</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/NilPointer-Software/open-source-link-shortener">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © NilPointer Software 2020 - Open source (MIT3 License)
            </div>
        </div>
    </footer>
</footer>
