<!DOCTYPE html>
<html>
<head>
    <title>Open source link shortener</title>
    {{> common/head}}
</head>

<body>
<header>
    <div class="col s12"><h1 style="text-align: center;margin-bottom: 52px">Open source URL shortener</h1></div>
</header>
<main>
    <form>
        <div class="container">
            <div class="input-field col s10">
                <input placeholder="https://github.com" id="url" type="text" class="validate">
                <label for="url">Enter URL and go!</label>
            </div>
            <a class="waves-effect waves-light btn">Go!</a>
        </div>
    </form>
</main>
{{> common/footer }}
</div>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
